<div class="row" style="margin-bottom:2 0px;">
    <div class="col-xs-6 text-center">
        <button type="button" class="btn btn-danger btn-lg">Drank coffee</button>
    </div>
    <div class="col-xs-6 text-center">
        <button type="button" class="btn btn-success btn-lg">Made coffee</button>
    </div>
</div>
<div class ="row">
    <div ui-view="userStatList"></div>
</div>
<div class="row">
    <div class="col-md-6" style="height:100%">
        <h4 class="text-center">Current coffee levels:</h4>
        <div class="text-center">some d3 graphic</div>
    </div>
    <div class="col-md-6" ui-view="coffeeCarousel"></div>
</div>

